.About{
    height:50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.About__left{
    margin-left: 3vw;
    width: 60vw;
    text-align: left;
}
.About__right{
    width: 40vw;
    background-color: #FEE8AC;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

.About__left__big{
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0px;
    margin-bottom: 5vh;
}

.About__left__small{
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}

.About__right img{
    height:90%;
    margin-top: 3vh;
}