.Footer{
    background-color: #E07B79;
    height:50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Footer__one{
    display:flex;
    flex-direction: column;
}

.Footer__header{
    font-family: Inter;
font-size:3vh;
font-style: normal;
font-weight: 900;
line-height: 5vh;
letter-spacing: 0px;
text-align: left;
color:white;
}

.Footer__content{
    font-family: Inter;
    font-size: 2.4vh;
    font-style: normal;
    font-weight: 400;
    line-height: 3vh;
    letter-spacing: 0px;
    text-align: left;
    color:white;
}

.Footer__vl{
    border-left:0.5vh solid white;
    height:35vh;
}

